body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.contenedor{
    width:400px;
    margin:40px auto;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

input,
select{
    width:100%;
    padding:8px;
    margin:8px 0;
}

input[type=submit]{
    background:#007BFF;
    color:white;
    border:none;
    cursor:pointer;
}

input[type=submit]:hover{
    background:#0056b3;
}

#resultado{
    margin-top:20px;
    border-top:1px solid #ccc;
    padding-top:15px;
}