*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.contenedor{

    width:450px;

    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

    animation:aparecer .8s;
}

@keyframes aparecer{

    from{

        opacity:0;
        transform:translateY(-30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

.titulo{

    text-align:center;

    margin-bottom:25px;

}

.titulo i{

    font-size:55px;

    color:#0d6efd;

    margin-bottom:10px;

}

.titulo h2{

    color:#333;

}

.grupo{

    margin-bottom:18px;

}

label{

    display:block;

    margin-bottom:6px;

    color:#444;

    font-weight:600;

}

label i{

    color:#0d6efd;

}

input,
select{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:10px;

    transition:.3s;

    font-size:15px;

}

input:focus,
select:focus{

    border-color:#0d6efd;

    outline:none;

    box-shadow:0 0 10px rgba(13,110,253,.3);

}

button{

    width:100%;

    padding:14px;

    background:#0d6efd;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:17px;

    transition:.3s;

}

button:hover{

    background:#084dbf;

    transform:scale(1.02);

}

#resultado{

    margin-top:25px;

    padding:20px;

    border-radius:10px;

    background:#eaf4ff;

    display:none;

}

#resultado h3{

    color:#0d6efd;

    margin-bottom:12px;

}

#resultado p{

    margin:8px 0;

}